<form method="get" action="/quizes/<%= quiz.id %>/answer" class="pregunta">
	<p>Pregunta:</p> 
	<p><%= quiz.pregunta %></p>
	<input type="text" name="respuesta" placeholder="Responda aquí" required>
	<input type="submit" value="Enviar"><br>
</form>

<p><a href="/quizes/<%= quiz.id %>/comments/new"><button class="boton">Nuevo comentario</button></a></p>
<div class="comment">
    <p><strong>Comentarios:</strong></p>
	<%for(index in quiz.Comments){%>
		<%if(quiz.Comments[index].publicado || session.user){%>
			<p>- <%=quiz.Comments[index].texto%></p>
			<%if(session.user && !quiz.Comments[index].publicado){%>
			<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
			<%}%>			
		<%}%>	
	<%}%>
</div>